<% @artists.each do |artist| %>
  <b><%= artist.name %> </b>
  <p>Hometown: <%= artist.area_id %> </p>
  <p>Years Active: <%= artist.start_year %> - <%= artist.end_year %> </p>
  <p>Bio: <%= artist.bio %> </p>

  <% artist.show_artist_image.each do | x | %>
    <img src="<%= x.image_1 %>">
  <% end %>

  <br>
  <br>
<% end %>