<!-- Shows artist name -->
<h1><%= @artist.name %></h1>
<!-- Shows primary image of the artist -->
<%= artists_show_image_link(@artist) %>
<!-- Shows name of the artist's hometown -->
<p><b>Hometown:</b> <%= @artist.area.name %> </p>
<!-- Shows the range of the artist's active years -->
<p><b>Years Active:</b> <%= @artist.start_year %> - <%= @artist.end_year %> </p>
<!-- Shows the first and last names of the artist's members -->
<p><b>Members:</b> 
  <% @artist.show_artist_members.each do |member| %>
    <p><%= member.first_name %> <%= member.last_name %></p>
  <% end %>
</p>
<!-- Shows the artist's bio -->
<p><b>Bio:</b> <%= @artist.bio %> </p>
<!-- Shows each of the artist's albums with cover image and title -->
<p><b>Albums:</b></p>
  <% @artist.show_artist_albums.each do |album| %>
    <%= albums_show_image_link(album) %>
    <p><b> <%= albums_show_link(album) %> </b></p>
    <br>
  <% end %>
