<!-- Shows artist name -->
<h1><%= @artist.name %></h1>
<!-- Shows primary image of the artist -->
<img src="<%= @artist_images.image_1 %>" style="width:400px;height:300px">
<!-- Shows name of the artist's hometown -->
<p><b>Hometown:</b> <%= @areas.name %> </p>
<!-- Shows the range of the artist's active years -->
<p><b>Years Active:</b> <%= @artist.start_year %> - <%= @artist.end_year %> </p>
<!-- Shows the first and last names of the artist's members -->
<p><b>Members:</b> 
  <% @artist.show_artist_members.each do |member| %>
    <p><%= member.first_name %> <%= member.last_name %></p>
  <% end %>
</p>
<!-- Shows the artist's bio -->
<p><b>Bio:</b> <%= @artist.bio %> </p>
<!-- Shows each of the artist's albums with cover image and title -->
<p><b>Albums:</b></p>
  <% @artist.show_artist_albums.each do |album| %>
    <p><img src="<%= x.album_image.cover_image %>" style="width:200px;height:200px"></p>
    <p><b><%= album.title %></b></p>
    <br>
  <% end %>
