
<div class="container-admin-pages">
  <div class="row background-image">
    <img class="vinyl-record-art" src="<%= asset_path("record-background.png") %>">

    <!-- Close Icon for future lightbox style feature -->
<!--     <div class="close-window-icon">
      <i class="material-icons">close</i>
    </div> -->
    
  </div>


  <div class="row">
    <div class="small-12 columns">
      <div class="vinyl-archive-header-admin-pages">
        <div class="vinyl-archive-logo">
          <i class="icon"></i>
            <div class="vinyl-archive-header-text">
              <%= albums_index_link %> 
              <span class="byline"><%= hear_nebraska_link %></span>
            </div>
          <div class="link-text-vinyl-archive-header-admin-pages">
            <%= albums_user_addition_link %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <div class="four-column-text-entry-object">
        <%= form_tag "/albums/create", multipart: true do %>
        <div class="four-column-text-entry-box-title">
          Add an album
          <input class="four-column-text-entry-box" type="text" name="album_title"> 
        </div> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <div class="four-column-text-entry-object">
        <div class="four-column-text-entry-box-title">
          Artist Name(s)
          <input class="four-column-text-entry-box" type="text" name="artist_name">
        </div>
          
        <div class="four-column-explanatory-text">
         Separate multiple artists with a comma 
        </div>
        <ul class="pagination" role="navigation" aria-label="Pagination">
          <!-- <li><a href="#">❮</a></li> -->
          <li><input type="submit" value="❯"></li>
        </ul>
        <% end %> <!-- end form_tag -->
      </div>
    </div>
  </div>         
</div> <!-- container-admin-pages -->

