<% content_for :controls do %>
  Share on FB and Twitter.
<% end %>

<!-- Shows album title -->
<h1><%= albums_show_link(@album) %></h1>

<!-- Shows album artist's name -->
<h2>By: <%= artists_show_link(@album.artist) %> </h2>

<%= albums_show_image_link(@album) %>

<!-- Shows the title of each of the album's tracks -->
<% @album.tracklist.each do |number, track| %>
  <br />
  <%= "#{number}. #{track}" %>
<% end %>

<br>

<!-- Shows album's release date -->
<p>
<b>Released:</b> 
<% @album.show_release_date.each do |date| %>
  <%= date %>
  <br />
<% end %>
</p>
<!-- Shows album artist's hometown -->
<p><b>City:</b> <%= areas_show_link(@album.area) %> </p>
<!-- Shows album's genre -->
<p><b>Genre:</b> <%= genres_show_link(@album.genre) %> </p>
<!-- Shows album's record label -->
<p>
<b>Label:</b> 
<% @album.show_album_label.each do |label| %>
  <%= label %>
  <br />
<% end %> 
</p> 
<!-- Shows album's format -->
<p>
<b>Format:</b> 
<% @album.show_album_format.each do |album_format| %>
<%= formats_show_link(album_format) %>
<br />
<% end %>
</p>
<br>

<p><b>Other info:</b> </p>
<!-- Shows album artist's bio -->
<p><%= @album.artist.bio %> </p>



<div class="row">
  <div class="small-12 columns">
    <div class="second-level-header-container">

      <div class="small-6 columns"> 
        <div class="search-bar-object">
          <div class="search-bar-text">
            <input class="search-bar" type="search" placeholder="Enter Search"/>
          </div>
          <button>
            <img class="spyglass" type="submit" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
          </button>
        </div>
      </div>

      <div class="small-6 columns">
        <div class="social-media-links-object">
          <div class="social-media-logo">
            <a class="facebook-link" href="www.facebook.com">
              <i class="social-media-icon"></i>
            </a>
          </div>
          <div class="social-media-logo">
            <a class="twitter-link" href="www.twitter.com">
              <i class="social-media-icon"></i>
            </a>
          </div>
          <div class="social-media-links-text">SHARE THIS MUSICIAN
          </div>
        </div>
      </div>     
    </div>
  </div>        
</div>


  <div class="row">
      <div class="small-12 columns">
          <div class="page-content-header">
              <div class="page-content-header-text">Album Title |<span class="page-content-modifier-text"> What it is</span>
                <a class="link-text" href="url">EDIT ALBUM</a>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="small-6 columns">

            <div class="album-cover-object">
              <div class="album-cover-main-image">
                <img class="album-cover-main-image" src="/images/tilly-and-the-wall-cover.jpg" alt="Smiley face">
              </div>
            <div class="row">
              <div class="small-3 columns">
                <div class="album-cover-small-image">
                  <img class="album-cover-small-image" src="/images/tilly-and-the-wall-cover.jpg" alt="Smiley face">
                </div>
              </div>
              <div class="small-3 columns">
                <div class="album-cover-small-image">
                  <img class="album-cover-small-image" src="/images/tilly-and-the-wall-cover.jpg" alt="Smiley face">
                </div>
              </div>
              <div class="small-3 columns">
                <div class="album-cover-small-image">
                  <img class="album-cover-small-image" src="/images/tilly-and-the-wall-cover.jpg" alt="Smiley face">
                </div>
              </div>
              <div class="small-3 columns">
                <div class="album-cover-small-image">
                  <img class="album-cover-small-image" src="/images/tilly-and-the-wall-cover.jpg" alt="Smiley face">
                </div>
              </div>
            </div>
            <!-- <div class="row">  --> 
          <div class="row">
            <div class="small-12 columns">
            <div class="album-release-text-object">
              <div class="album-release-info">
                <!-- <div class="members-text"> -->
                  <!-- <div class="default-body-text"> -->
                    <li class="release-info" href="url">Released: <span class="album-release-data"> November 15 1994</span></li>
                    <li class="release-info" href="url">Location: <span class="album-release-data"> Omaha</span></li>
                    <li class="release-info" href="url">Genre: <span class="album-release-data"> Zydeco</span></li>
                    <li class="release-info" href="url">Released: <span class="album-release-data"> November 15 1994</span></li>
                    <li class="release-info" href="url">Released: <span class="album-release-data"> November 15 1994</span></li> 
                  <!-- </div> -->
               <!--  </div> -->
              </div>   
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="small-6 columns">
          <div class="album-detail-object">
            <div class="album-detail-title">
              Conquest of Oklahoma
              <div class="album-detail-artist">
                by various artists
                <div class="album-track-list-object">
                <div class="album-track-list">
                  <div class="album-track-number">1 <span class="album-track-song-title"> Bohemian Rhapsody</span> <span class="album-track-info"> Queens of the Stone Age</span></div>
                </div>
                <div class="album-track-list">
                  <div class="album-track-number">2 <span class="album-track-song-title"> Louie, Louie</span> <span class="album-track-info"> The Kingsmen</span></div>
                </div>
                <div class="album-track-list">
                  <div class="album-track-number">3 <span class="album-track-song-title"> Cast Iron Arm</span> <span class="album-track-info"> Charlie Burton and Rock Therapy</span></div>
                </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      
        <div class="small-6 columns">
          <div class="other-info-header">
              Other info:
          </div>
          <div class="other-info-text">
              It's not every day you see a band whose instrumental inventory includes concertina wire, a Daisy air rifle and a trio of mice. The mice were not harmed by either the concertina wire or the Daisy air rifle, and they knew their cues. Somehow it all works, with an infectious Latin beat and lots of opportunities to get up and dance.
          </div>
        </div>
      
  </div>





