<% content_for :controls do %>
  Share on FB and Twitter.
<% end %>

<!-- Shows album title -->
<h1><%= albums_show_link(@album) %></h1>

<!-- Shows album artist's name -->
<h2>By: <%= artists_show_link(@album.artist) %> </h2>

<%= albums_show_image_link(@album) %>

<!-- Shows the title of each of the album's tracks -->
<% @album.tracklist.each do |number, track| %>
  <br />
  <%= "#{number}. #{track}" %>
<% end %>

<br>

<!-- Shows album's release date -->
<p>
<b>Released:</b> 
<% @album.show_release_date.each do |date| %>
  <br />
  <%= date %>
<% end %>
</p>
<!-- Shows album artist's hometown -->
<p><b>City:</b> <%= areas_show_link(@album.area) %> </p>
<!-- Shows album's genre -->
<p><b>Genre:</b> <%= genres_show_link(@album.genre) %> </p>
<!-- Shows album's record label -->
<p>
<b>Label:</b> 
<% @album.show_album_label.each do |label| %>
  <br />
  <%= label %>
<% end %> 
</p> 
<!-- Shows album's format -->
<p>
<b>Format:</b> 
<% @album.show_album_format.each do |album_format| %>
<br />
<%= formats_show_link(album_format) %>
<% end %>
</p>
<br>

<p><b>Other info:</b> </p>
<!-- Shows album artist's bio -->
<p><%= @album.artist.bio %> </p>