<!-- Shows album title -->
<h1><%= @album.title %></h1>
<<<<<<< HEAD

<h2>By: <%= @artist.name %></h2>

<img src="<%= @album.album_image.cover_image %>" style="width:300px;height:300px">

<p><b>Tracks:</b> 
  <% @album.show_album_tracks.each do | x | %>
    <p><%= x.title %></p>
  <% end %>
</p>

<br>

<p><b>Released:</b> <%= @release.release_date %> </p>

<p><b>City:</b> <%= @area.name %> </p>

<p><b>Genre:</b> <%= @genre.name %> </p>

<p><b>Label:</b> <%= @release.label %> </p>

<p><b>Format:</b> <%= @format.name %> </p>

<br>

<p><b>Other info:</b> </p>
<p><%= @artist.bio %> </p>
=======
<br />
<!-- Shows album artist's name -->
<%= @album.artist.name %>
<br />
<img src="<%= @album.album_image.cover_image %>" style="width:100px;height:100px">
<!-- Shows the title of each of the album's tracks -->
<% @album.tracks.each do |number, track| %>
  <br />
  <%= "#{number}. #{track}" %>
<% end %>
>>>>>>> ecf251ca4bddac8cccedc726a5bf3ea5effc9c73
